#navMain{
	background-color: #474444;
	margin-bottom: 0px !important;
}

#navBarMenu{
	margin-top: 1.5%;
}

#navBarMenu li a{
	color: #FFFF00;
}

#navMenuList{
	width: 100%;
}

#navMenuList li{
	width: 20%;
	text-align: center;
	border-right: 1px solid #AFAFAF;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-top: 0.5%;
	margin-bottom: 0.5%;
}

#navMenuList li:last-child{
	border-right: none;
}

#navMenuList li a{
	font-size: 19.99px;
}

